{% extends 'root.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <p>Регистрация</p>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <p class="col-sm-2 col-form-label">
                <label for="{{ field.auto_id }}" class="form_control">{{ field.label }}</label>
                {{ field }}
            </p>
        {% endfor %}

        {{ form.errors }}
        <input type="submit" class="btn btn-success" value="Регистрация">
    </form>
{% endblock %}
