<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {{ main_active|default:'' }}" aria-current="page" href="#">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ last_active|default:'' }}" href="#">Последние темы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ update_active|default:'' }}" href="#">Обновления</a>
            </li>
          </ul>
            {% if user.is_authenticated %}
                <span class="nav-item">
                    <a class="nav-link" href="{% url 'auth:logout' %}">Выйти</a>
                </span>
            {% else %}
                <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {{ sign_in_active|default:'' }}" href="{% url 'auth:sign-in' %}">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ sign_up_active|default:'' }}" href="{% url 'auth:sign-up' %}">Регистрация</a>
                    </li>
                </ul>
            {% endif %}
        </div>
      </div>
    </nav>
    <div class="p-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>